@inherits LayoutComponentBase

<header class="vrs-bg-base">
    <BSNavbar IsHeader="true" Class="border-bottom" IsDark="true">
        <BSContainer Container="Container.Fluid">
            <BSNavbarBrand Padding="Padding.Small">
                <img class="logo" src="/content/images/logo.png" alt="logo" title="logo" />
                <span class="ms-2">
                    Virtual Radar Server
                </span>
            </BSNavbarBrand>
        </BSContainer>
    </BSNavbar>
</header>

<main>
    <BSContainer>
        @Body
    </BSContainer>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
